<div class="container">

  <p><button ng-click="startCreatingTrack()" class="btn btn-success">+ Create Track</button>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="track in tracks">
      <a href="#">{{ track }}</a>
    </li>
  </ul>

  <form ng-show="isCreatingTrack" class="well" ng-submit="addNewTrack(newTrack)">
    <div class="form-group">
      <label for="trackNameInput">Track Name</label>
      <input ng-model="newTrack.name" type="text" class="form-control" id="trackNameInput" placeholder="Enter track name">
    </div>
    <div class="form-group">
      <label for="trackDescInput">Track Description</label>
      <input ng-model="newTrack.description" type="text" class="form-control" id="trackDescInput" placeholder="Enter description">
    </div>
    <button ng-click="cancelCreatingTrack()" type="submit" class="btn btn-info">Create</button>
    <button class="btn btn-default" ng-click="cancelCreatingTrack()">Cancel</button>
  </form>
</div>


